.form {
	width: 50%;
	margin: 0 auto;
}

.input__disabled {
	border: none;
	pointer-events: none;
	user-select: none;
	box-shadow: none;
}

.icon__clickable {
	cursor: pointer;
	pointer-events: initial !important;
}

.error-text {
	margin: 0;
	padding: 0;
	color: red;
	min-height: 24px;
	font-size: 16px;
}
